* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-image: url(../images/background.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.container > img {
  height: auto;
  width: 50%;
}

.container > a > img {
  height: auto;
  width: 100%;
}