* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 60%;
  margin: 0 auto;
  border: 1px solid gray;
}

.clear {
  clear: both;
}
header {
  border-bottom: 2px solid #ebc164;
  display: flex;
  justify-content: end;
}

.content {
  display: flex;
}

.aside {
  flex: 3;
  background-image: url(../images/back.jpg);
  background-repeat: repeat-y;
}

.aside ul li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
  border-bottom: 2px dashed #95724d;
  max-width: 60%;
} 
.aside ul li a {
  text-decoration: none;
}

.center {
  position: relative;
  flex: 7;
  color: #f8aa11;
}

.center img {
  width: 80%;
  margin-top: 20px;
}

.center .footer {
  border-top: 4px solid #f8aa11;
  height: 50px;
}

.content1 {
  position: absolute;
  height: 240px;
  width: 200px;
  border: 3px inset gray;
  font-size: 18px;
  color: #a45159;
  background-color: #fefff1;
  right: 350px;
  top: 100px;
  padding: 10px;
}

.content2 {
  position: absolute;
  height: 180px;
  width: 200px;
  border: 3px inset gray;
  font-size: 18px;
  color: #a45159;
  background-color: #fefff1;
  padding: 10px;
  top: 400px;
  left: 550px;
}

.content3 {
  position: absolute;
  height: 180px;
  width: 200px;
  border: 3px inset gray;
  font-size: 18px;
  color: #a45159;
  background-color: #fefff1;
  padding: 10px;
  right: 400px;
  bottom: 50px;
}